<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }

        tr:hover {background-color: #DDE6ED;}

        .table_container{
            margin: 1.5rem 1rem;
            padding: 1rem;
            border: 1px solid #000;
        }

        .title{
            width: 100%;
            background-color: #ccc;
            margin-bottom: .5rem;
            padding: .5rem;
        }

    </style>
</head>
<body>
    <div class="navbar">
        <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/User"><i class="fa fa-fw fa-envelope"></i> Users</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
    </div>

    <div class="table_container">
        <h2 class="title">List Users: </h2>
        <table>
            <tr>
              <th>ID</th>
              <th>EMAIL</th>
              <th>NAME</th>
              <th>CITY</th>
              <th>MORE</th>
            </tr>
            <% for (let i = 0; i < listUsers.length; i++) { %>
              <tr>
                <td><%= listUsers[i].id %></td>
                <td><%= listUsers[i].email %></td>
                <td><%= listUsers[i].name %></td>
                <td><%= listUsers[i].city %></td>

                <td class="item__list-button">
                  <a class="item_button" href="/update-user/<%= listUsers[i].id %>">edit</a>
                  <a class="item_button">Delete</a>
                </td>
              </tr>
            <% } %>
        </table>
    </div>

</body>
</html>